@import '../../utils/colors';

.WeatherCard {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    width: 15%;
    min-width: fit-content;
    font-weight: bold;

    background-color: $lightGrayBlue;
    border-radius: 10px;

    p {
        font-size: 20px;
    }

    span {
        padding: 10px 20px;
        text-align: left;
    }
}