.Todo {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;

    &__checkBtn {
        grid-column: 1/2;
        width: 100px;
        margin: auto;
    }

    &__message {
        grid-column: 2/3;
    }

    &__deleteBtn {
        grid-column: 3/4;
        width: 100px;
        margin: auto;
    }
    &__checkbox {
        width: 24px;
        justify-self: center;
    }
    &__checkbox:hover {
        cursor: pointer;
    }
}